#sobrenosotros{
	display: grid;
  	grid-template-columns: auto auto;
}
#sobrenosoros article{
	min-height:300px;
	text-align:center;
	box-sizing:border-box;
	padding:40px;
}
@media screen and (max-width: 800px) {
	#sobrenosoros{
		display: block;
	}
}
