html,body{
    padding: 0px;
    margin: 0px;
}
header{
    height: 44px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
}
header .contenedor{
    width: 1024px;
    margin: auto;
}
header .contenedor img{
    width: 30px;
    display: inline-block;
}
header .contenedor nav{
    display: inline-block;
}
header .contenedor ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
header .contenedor ul li{
    display: inline-block;
}
header .contenedor ul li a{
    text-decoration: none;
    color: inherit;
}