#objetivo{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: center;
    padding-top: 100px;
    padding-left: 159px;
    padding-bottom: 130px;
}
#objetivo .texto{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
    width: 50%;
}
#objetivo .texto h3{
    font-size: 35px;
    text-align: left;
    color: black;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#objetivo .texto h4{
    font-size: 50px;
    color: black;
    text-align: justify;
    font-style: normal;
    margin-right: 100px;
    margin-bottom: 4px;
}
#objetivo .logo img {
    height: 150px;
}
#objetivo #quedonar h4{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 70px;
    margin-bottom: 10PX;
}
#objetivo #quedonar{
    align-content: center;
}
#objetivo #quedonar article{
    margin-left: 70px;
	background: #e7e1da;
    padding: 5px;
    padding-left: 40px;
    padding-right: 20px;
	border-radius:5px;
    margin-bottom: 10px;
	box-shadow:0px 4px 6px rgba(0,0,0,0.1);
}
#objetivo #quedonar article ul{
    text-align: left;
    padding: 0px;
}
#objetivo #quedonar article ul li h6{
    font-weight: normal;
    font-size: 15px;
}
#objetivo .texto .firma{
    margin-right: 100px;
    color: #a08a77;
}
button.secundario {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    margin-right: 100px;
} 
#objetivo #quedonar article ul li:nth-child(odd)::marker {
    color: #3e7b4a; /* Color para los elementos impares */
}
#objetivo #quedonar article ul li:nth-child(even)::marker {
    color: #df282f; /* Color para los elementos pares */
}

