/*Portada Cover*/
main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: backgroudn 300ms;
}

.btn__readMore-cover:hover{
    background: #e8e8e8;

}

.media__cover{
    width: 100%;
}

.media__cover img{
    mask-image: linear-gradient(
        black 70%,
        transparent
    );
    width: 100%;
    margin-top: -40px;
    border-radius: 20px;
}