@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV4exQ.ttf) format('truetype');
 }
 .fullwidth-background{
  background-color: #C2A464; /* color de fondo amarillo */
  width: 100%; /* ocupa el ancho completo */
}
.submenu{
  box-sizing:border-box;
  max-width: 1280px;
  height: 90px;
  padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
  margin: auto;

}
.submenu nav a{
  list-style-type:none;
  padding:0px;
  margin:0px 10px;
  font-family: 'Open Sans';
  max-width: 1280px;
}
.heroe{
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.heroe .contenedor{
  max-width: 1280px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.heroe h2{
  color: white;
}
.heroe h1{
  font-family: 'TrajanPro3Bold',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #C2A464;
  padding: 65px;
}
.heroe h2{
  padding-bottom: 0px;
  margin-top: -100px;
}
.heroe p{
  line-height: 1.5;
  color: white;
}