/* editblog.css */

/* Estilos generales del formulario */
form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
h1 {
    font-size: 2.5rem;
    color: #f7941d; /* Naranja TaronjaBox */
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos de los campos de entrada */
label {
    display: block;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    height: 200px;
    resize: vertical;
}

/* Estilo del botón */
button {
    display: inline-block;
    background-color: #f7941d;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e77c1d;
}

/* Estilo del enlace (para botones de edición y eliminación) */
a {
    color: #f7941d;
    font-size: 1.1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.entrenador img.img-thumbnail {
    width: 150px;  /* Ajusta el tamaño de la miniatura */
    height: auto;  /* Mantiene la proporción de la imagen */
    border: 1px solid #ddd;  /* Estilo de borde para la miniatura */
    padding: 5px;
    border-radius: 5px;
}

/* Responsividad */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    input[type="text"],
    textarea {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }
}
