/* Contenedor de cada sección */
.seccion {
  display: flex;
  max-width: 1280px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 40px; /* Ajustado a 40px */
}

/* Estilos de título a la izquierda */
.titulo {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.titulo h3 {
  font-size: 40px;
  font-weight: bold;
  color: #d6cab4; /* Unificado con el color de texto resaltado */
  text-transform: uppercase;
  font-family: "TrajanPro3Bold", "Open Sans", sans-serif;
}

/* Contenido a la derecha */
.contenido {
  flex: 3;
}

.contenido p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Estilo de la imagen */
.contenido img {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px; /* Agregado para dar estilo redondeado */
}

/* Estilo general de los artículos */
article {
  margin-top: 100px;
  font-size: 22px;
}

/* Texto resaltado */
.texto-resaltado {
  color: #d6cab4; /* Usar nombre de clase estandarizado */
}

/* Negrita general */
.negrita {
  font-weight: bold;
}

/* Encabezado h4 en artículos */
article h4 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

