#precios{
    padding: 0px 150px;
    box-sizing: border-box;
}
#precios #contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
#precios article{
    background: #252525;
    margin-bottom: 20px;
    border-radius: 0px 10px 0px 0px;
    padding: auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 210px;
    height: 500px;
    color: white;
}