Options -Indexes
RewriteEngine On
RewriteBase /GitHub/Primero-de-DAM-Luis-Rodriguez/PROYECTO_X/darkorange/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]


