/*/////////////////// FUENTES ///////////////////*/
@font-face {
    font-family: amatic;
    src: url(fuentes/AmaticSC-Bold.ttf);
		font-family: league;
		src: url(fuentes/LeagueSpartan-Regular.ttf);
  }

/*/////////////////// PROPIEDADES GENERALES ///////////////////*/

body,html{
	background:black;
	font-family:league;
	font-weight: lighter;
	margin:0px;
	padding:0px;
}

/*/////////////////// TEXTO ///////////////////*/
h4,h3{
	padding: 0px;
	margin-top: 0px;
}

/*/////////////////// BLOQUES CONSTRUCTIVOS ///////////////////*/

header,main,footer{
	width:1200px;
	background:black;
	margin:auto;
}
section{
	width:100%;
	text-align:center;
	box-sizing:border-box;
	padding:50px 150px;
	box-sizing:border-box;
}
header{
	height:60px;
	background:#e7e1da;
}
#heroe{
	background: #e7e1da;
}
#objetivo{
	height:690px;
	background: #ddd5cc;
}
#propuestas{
	height:540px;
	background:#e7e1da;
}
footer{
	background: #817363;
}
#contenedor{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:25px;
    margin-top:100px;
}

/*/////////////////// BOTONES ///////////////////*/

button{
	background:#f8141d;
	color: #e7e1da;
	border:none;
	padding:20px;
	border-radius:5px;
}
.secundario{
    background:#3e7b4a;
}