header{
    padding:50px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    box-sizing:border-box;
}

header #corporativo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
header #corporativo img{
    width:60px;
}
header h1,h2{
    color: #ac8564
}
header h1{
    font-size:14px;
}
header h2{
    font-size:10px;
}
header nav a{
    color: #ac8564;
    font-size:14px;
    padding:10px;
    font-weight:bold;
    background-color: #e7e1da; /* Color de fondo normal */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
header nav a:hover{
    color: #45a049;
}