#objetivo{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    padding-top: 100px;
}
#objetivo .texto{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#objetivo .texto h3{
    font-size: 35px;
    text-align: left;
    color: #ac8564;
    height: 200px;
    width: 500px;
    font-weight: normal;
}
#objetivo .texto h4{
    font-size: 40px;
    color: #745b46;
    text-align: justify;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-style: dotted;
}
#objetivo .logo img {
    height: 150px;
}
button.secundario {
    margin-top: 10px;
} 
#objetivo #quedonar article ul li:nth-child(odd)::marker {
    color: #3e7b4a; /* Color para los elementos impares */
}
#objetivo #quedonar article ul li:nth-child(even)::marker {
    color: #f8141d; /* Color para los elementos pares */
}
