#propuestas .contenido{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	gap:50px;
}
#propuestas form{
	text-align:left;
}
#propuestas input,#propuestas textarea{
box-sizing:border-box;
	width:98%;
	border:none;
	background:rgb(240,240,240);
	padding:10px;
	margin-bottom:5px;
}
#propuestas .a50{
	width:48%;
}
#propuestas .a50:first-child{
	margin-right:15px;
}
#propuestas h4{
	font-size: 50px;
	margin: 10px;
	padding: 0px;
}
#propuestas h3{
	font-weight: lighter;
}